# MongoDB
MONGODB_URI=mongodb+srv://mishaelekom_db_user:MX9piPVnIOwZnqwF@swiftxcluster.kk6jc6k.mongodb.net/?appName=SwiftXCluster

# SMTP Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=vanslili265@gmail.com
SMTP_PASS=ghae zrqk wlls hxgn

# Site URL (update after deployment)
NEXT_PUBLIC_SITE_URL=https://your-domain.com

# JWT Secret (change this to a strong random string)
JWT_SECRET=your-super-secret-jwt-key-change-in-production